.card{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    // background-color: #60dafb ;
    .name{
        font-weight: bold;
    }
    .team{
        color: red($color: #000000);
    }
    .picture{
        img{
            width: 250px;
        }
    }
}